{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md",
          ".*"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/sochi.mycapitalland.ru",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "favicon.ico",
          "mtimeMs": 1585921556499.0002,
          "date": "2021-04-21T03:10:58.288Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1585921575154.585,
          "date": "2021-04-21T03:10:58.642Z"
        },
        {
          "file": "favicon.svg",
          "mtimeMs": 1617689353535.0193,
          "date": "2021-04-21T03:10:58.940Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1620205255794.8552,
          "date": "2021-05-05T09:01:08.033Z"
        },
        {
          "file": "politics.pdf",
          "mtimeMs": 1618476115904.1655,
          "date": "2021-04-21T03:10:59.804Z"
        },
        {
          "file": "404/index.html",
          "mtimeMs": 1620205250064.8013,
          "date": "2021-05-05T09:01:08.759Z"
        },
        {
          "file": "confirmed/index.html",
          "mtimeMs": 1620205251686.0938,
          "date": "2021-05-05T09:01:09.364Z"
        },
        {
          "file": "css/confirmed.min.css",
          "mtimeMs": 1618983215006.0254,
          "date": "2021-04-21T05:51:55.431Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1619012164551.667,
          "date": "2021-04-21T13:36:17.900Z"
        },
        {
          "file": "css/thanks.min.css",
          "mtimeMs": 1618983217898.2585,
          "date": "2021-04-21T05:51:57.175Z"
        },
        {
          "file": "fonts/Geometria.eot",
          "mtimeMs": 1606795376000,
          "date": "2021-04-21T03:11:03.201Z"
        },
        {
          "file": "fonts/Geometria.svg",
          "mtimeMs": 1606795376000,
          "date": "2021-04-21T03:11:03.693Z"
        },
        {
          "file": "fonts/Geometria.ttf",
          "mtimeMs": 1606795376000,
          "date": "2021-04-21T03:11:04.143Z"
        },
        {
          "file": "fonts/Geometria.woff",
          "mtimeMs": 1606795376000,
          "date": "2021-04-21T03:11:04.526Z"
        },
        {
          "file": "fonts/Geometria.woff2",
          "mtimeMs": 1606795378000,
          "date": "2021-04-21T03:11:04.887Z"
        },
        {
          "file": "fonts/GeometriaBold.eot",
          "mtimeMs": 1606795400000,
          "date": "2021-04-21T03:11:05.317Z"
        },
        {
          "file": "fonts/GeometriaBold.svg",
          "mtimeMs": 1606795400000,
          "date": "2021-04-21T03:11:05.823Z"
        },
        {
          "file": "fonts/GeometriaBold.ttf",
          "mtimeMs": 1606795400000,
          "date": "2021-04-21T03:11:06.265Z"
        },
        {
          "file": "fonts/GeometriaBold.woff",
          "mtimeMs": 1606795400000,
          "date": "2021-04-21T03:11:06.663Z"
        },
        {
          "file": "fonts/GeometriaBold.woff2",
          "mtimeMs": 1606795400000,
          "date": "2021-04-21T03:11:07.033Z"
        },
        {
          "file": "fonts/GeometriaHeavy.eot",
          "mtimeMs": 1606795412000,
          "date": "2021-04-21T03:11:07.433Z"
        },
        {
          "file": "fonts/GeometriaHeavy.svg",
          "mtimeMs": 1606795412000,
          "date": "2021-04-21T03:11:07.933Z"
        },
        {
          "file": "fonts/GeometriaHeavy.ttf",
          "mtimeMs": 1606795410000,
          "date": "2021-04-21T03:11:08.359Z"
        },
        {
          "file": "fonts/GeometriaHeavy.woff",
          "mtimeMs": 1606795412000,
          "date": "2021-04-21T03:11:08.750Z"
        },
        {
          "file": "fonts/GeometriaHeavy.woff2",
          "mtimeMs": 1606795412000,
          "date": "2021-04-21T03:11:09.107Z"
        },
        {
          "file": "fonts/GeometriaLight.eot",
          "mtimeMs": 1618953840000,
          "date": "2021-04-21T03:11:09.504Z"
        },
        {
          "file": "fonts/GeometriaLight.svg",
          "mtimeMs": 1618953840000,
          "date": "2021-04-21T03:11:09.979Z"
        },
        {
          "file": "fonts/GeometriaLight.ttf",
          "mtimeMs": 1618953840000,
          "date": "2021-04-21T03:11:10.385Z"
        },
        {
          "file": "fonts/GeometriaLight.woff",
          "mtimeMs": 1618953840000,
          "date": "2021-04-21T03:11:10.752Z"
        },
        {
          "file": "fonts/GeometriaLight.woff2",
          "mtimeMs": 1618953842000,
          "date": "2021-04-21T03:11:11.147Z"
        },
        {
          "file": "fonts/GeometriaMedium.eot",
          "mtimeMs": 1521722660000,
          "date": "2021-04-21T03:11:11.582Z"
        },
        {
          "file": "fonts/GeometriaMedium.svg",
          "mtimeMs": 1521722660000,
          "date": "2021-04-21T03:11:12.132Z"
        },
        {
          "file": "fonts/GeometriaMedium.ttf",
          "mtimeMs": 1521722660000,
          "date": "2021-04-21T03:11:12.560Z"
        },
        {
          "file": "fonts/GeometriaMedium.woff",
          "mtimeMs": 1521722660000,
          "date": "2021-04-21T03:11:12.936Z"
        },
        {
          "file": "fonts/GeometriaMedium.woff2",
          "mtimeMs": 1521722660000,
          "date": "2021-04-21T03:11:13.275Z"
        },
        {
          "file": "fonts/OpenSans.eot",
          "mtimeMs": 1572430538000,
          "date": "2021-04-21T03:11:13.701Z"
        },
        {
          "file": "fonts/OpenSans.svg",
          "mtimeMs": 1572430538000,
          "date": "2021-04-21T03:11:14.320Z"
        },
        {
          "file": "fonts/OpenSans.ttf",
          "mtimeMs": 1572430538000,
          "date": "2021-04-21T03:11:14.752Z"
        },
        {
          "file": "fonts/OpenSans.woff",
          "mtimeMs": 1572430538000,
          "date": "2021-04-21T03:11:15.102Z"
        },
        {
          "file": "fonts/OpenSans.woff2",
          "mtimeMs": 1572430538000,
          "date": "2021-04-21T03:11:15.465Z"
        },
        {
          "file": "fonts/OpenSansBold.eot",
          "mtimeMs": 1572430538000,
          "date": "2021-04-21T03:11:15.885Z"
        },
        {
          "file": "fonts/OpenSansBold.svg",
          "mtimeMs": 1572504483590,
          "date": "2021-04-21T03:11:16.486Z"
        },
        {
          "file": "fonts/OpenSansBold.ttf",
          "mtimeMs": 1572504489311.0002,
          "date": "2021-04-21T03:11:16.911Z"
        },
        {
          "file": "fonts/OpenSansBold.woff",
          "mtimeMs": 1572504493596,
          "date": "2021-04-21T03:11:17.314Z"
        },
        {
          "file": "fonts/OpenSansBold.woff2",
          "mtimeMs": 1572430538000,
          "date": "2021-04-21T03:11:17.646Z"
        },
        {
          "file": "img/backs/last.jpg",
          "mtimeMs": 1618984264294.9282,
          "date": "2021-04-21T05:51:58.003Z"
        },
        {
          "file": "img/backs/main-conf.jpg",
          "mtimeMs": 1618984267166.3228,
          "date": "2021-04-21T05:51:58.575Z"
        },
        {
          "file": "img/backs/main-thanks.jpg",
          "mtimeMs": 1618984269681.0964,
          "date": "2021-04-21T05:51:59.071Z"
        },
        {
          "file": "img/backs/main.jpg",
          "mtimeMs": 1618984271580.2317,
          "date": "2021-04-21T05:51:59.669Z"
        },
        {
          "file": "img/icons/confirm.png",
          "mtimeMs": 1618317919305.0315,
          "date": "2021-04-21T03:11:20.124Z"
        },
        {
          "file": "img/icons/phone.png",
          "mtimeMs": 1618984277520.813,
          "date": "2021-04-21T05:52:00.082Z"
        },
        {
          "file": "img/icons/soc-links.png",
          "mtimeMs": 1617818969345.9126,
          "date": "2021-04-21T03:11:20.721Z"
        },
        {
          "file": "img/icons/telegram.png",
          "mtimeMs": 1618984280738.754,
          "date": "2021-04-21T05:52:00.490Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1617818975030.0576,
          "date": "2021-04-21T03:11:21.323Z"
        },
        {
          "file": "img/images/about.jpg",
          "mtimeMs": 1618984287703.3528,
          "date": "2021-04-21T05:52:00.915Z"
        },
        {
          "file": "img/images/laptop.png",
          "mtimeMs": 1617818991198.4316,
          "date": "2021-04-21T03:11:22.011Z"
        },
        {
          "file": "img/images/logo-about.png",
          "mtimeMs": 1618984291475.2778,
          "date": "2021-04-21T05:52:01.276Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1618984294156.7307,
          "date": "2021-04-21T05:52:01.647Z"
        },
        {
          "file": "img/images/results-1.png",
          "mtimeMs": 1618982558165.6667,
          "date": "2021-04-21T05:52:02.131Z"
        },
        {
          "file": "img/images/results-2.jpg",
          "mtimeMs": 1618935544289.0996,
          "date": "2021-04-21T03:11:23.586Z"
        },
        {
          "file": "img/images/yuriy.jpg",
          "mtimeMs": 1618984305239.7446,
          "date": "2021-04-21T05:52:02.595Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1618981917458.0034,
          "date": "2021-04-21T05:52:03.097Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1618984324634.0312,
          "date": "2021-04-21T06:38:02.760Z"
        },
        {
          "file": "js/thanks.js",
          "mtimeMs": 1618975046343.1528,
          "date": "2021-04-21T05:52:03.754Z"
        },
        {
          "file": "thanks/index.html",
          "mtimeMs": 1620205251687.093,
          "date": "2021-05-05T09:01:10.233Z"
        },
        {
          "file": ".htaccess",
          "mtimeMs": 1618318966634.6047,
          "date": "2021-04-21T03:12:25.702Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/404.pug",
        "config": {
          "customOutput": "404\\index.html"
        }
      },
      {
        "file": "_app/_js/libs.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/_js/thanks.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\thanks.js"
        }
      },
      {
        "file": "_app/confirmed.pug",
        "config": {
          "customOutput": "confirmed\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/styl/conf.min.styl",
        "config": {
          "customOutput": "css\\confirmed.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "_app/styl/thanks.min.styl",
        "config": {
          "customOutput": "css\\thanks.min.css"
        }
      },
      {
        "file": "_app/thanks.pug",
        "config": {
          "customOutput": "thanks\\index.html"
        }
      },
      {
        "file": "img/backs/last.jpg",
        "config": {
          "originalSize": 115359,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main-conf.jpg",
        "config": {
          "originalSize": 610382,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main-thanks.jpg",
        "config": {
          "originalSize": 113536,
          "optimized": true
        }
      },
      {
        "file": "img/backs/main.jpg",
        "config": {
          "originalSize": 67121,
          "optimized": true
        }
      },
      {
        "file": "img/icons/phone.png",
        "config": {
          "originalSize": 828,
          "optimized": true
        }
      },
      {
        "file": "img/icons/telegram.png",
        "config": {
          "originalSize": 1318,
          "optimized": true
        }
      },
      {
        "file": "img/images/about.jpg",
        "config": {
          "originalSize": 91577,
          "optimized": true
        }
      },
      {
        "file": "img/images/logo-about.png",
        "config": {
          "originalSize": 24603,
          "optimized": true
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "originalSize": 4776,
          "optimized": true
        }
      },
      {
        "file": "img/images/results-1.png",
        "config": {
          "originalSize": 360468
        }
      },
      {
        "file": "img/images/yuriy.jpg",
        "config": {
          "originalSize": 72389,
          "optimized": true
        }
      }
    ]
  }
}
