//- if headerLight
header.header-light
	.container
		.logo
			a.logo-link(href="https://mycapitalland.ru/")
				+imgs('logo-link-img','img/images/logo.png','Логотип')
			p.logo-text Инвестиционный холдинг 
				br
				| «Мой капитал»
		.header-nav
			.logo.logo-mobile
				a.logo-link(href="https://mycapitalland.ru/")
					+imgs('logo-link-img','img/images/logo.png','Логотип')
				p.logo-text Инвестиционный холдинг 
					br
					| «Мой капитал»
			.contacts
				.contact.contact-tg
					p.contact-text Присоединяйтесь
					a.contact-link(href="https://mycapital.autoweboffice.ru/index.php?r=form/telegram&id_bot=4" target="_blank") Telegram-канал
				.contact.contact-phone
					p.contact-text Позвонить нам
					a.contact-link(href="callto:88007009598" target="_blank") 8 800 700 9598
	.mobile-menu
		.mobile-menu-line.mobile-menu-line-1
		.mobile-menu-line.mobile-menu-line-2
		.mobile-menu-line.mobile-menu-line-3
//- else
//- 	header.header-dark
//- 		.container
//- 			.logo
//- 				a.logo-link(href="https://mycapitalland.ru/")
//- 					+imgs('logo-link-img','img/images/logo.png','Логотип')
//- 				p.logo-text Инвестиционный холдинг 
//- 					br
//- 					| «Мой капитал»
//- 			.header-nav
//- 				.logo.logo-mobile
//- 					a.logo-link(href="https://mycapitalland.ru/")
//- 						+imgs('logo-link-img','img/images/logo.png','Логотип')
//- 					p.logo-text Инвестиционный холдинг 
//- 						br
//- 						| «Мой капитал»
//- 				.contacts
//- 					.contact.contact-tg
//- 						p.contact-text Присоединяйтесь
//- 						a.contact-link(href="http://t.me/mycapitalbot" target="_blank") Telegram-канал
//- 					.contact.contact-phone
//- 						p.contact-text Позвонить нам
//- 						a.contact-link(href="callto:88007009598" target="_blank") 8 800 700 9598
//- 		.mobile-menu
//- 			.mobile-menu-line.mobile-menu-line-1
//- 			.mobile-menu-line.mobile-menu-line-2
//- 			.mobile-menu-line.mobile-menu-line-3