.form-section
	padding 35px 0
	background-color: #f0f3f5
	@media screen and (max-width 560px)
		padding 25px 0
	&-title
		font-family: GM
		font-size: 35px
		font-weight: 900
		text-transform uppercase
		text-align center
		color: #0f1f2f
		@media screen and (max-width 991px)
			font-size: 30px
			margin 0 0 30px
		@media screen and (max-width 767px)
			br
				display none
		@media screen and (max-width 560px)
			font-size: 26px
		@media screen and (max-width 385px)
			font-size: 24px
	&-text
		text-align center
		font-size: 20px
		margin-bottom: 15px
		text-transform uppercase
@media screen and (max-width 767px)
	.button-wrapper-form-1
		margin-bottom: 30px