#author
	padding 75px 0 0
	background-color: #10193c
	margin-bottom: 20px
	overflow hidden
	.container
		background-image: url(../img/images/author-logo.png)
		background-repeat no-repeat
		background-position: bottom 30px left
		background-size 500px
		padding-bottom: 130px
		@media screen and (max-width 991px)
			padding-bottom: 160px
			background-position: center bottom 30px
			background-size auto 100px
		@media screen and (max-width 385px)
			background-size: auto 50px
			padding-bottom: 100px
			background-position: center bottom 15px
	@media screen and (max-width 560px)
		padding 40px 0 0
.general-title-author
	color #fff
	@media screen and (max-width 1199px)
		br
			display none
.rect-author
	background-color: mBr
	width 1300px
	height 175px
	z-index 5
	top 210px
	right 15%
	@media screen and (min-width 2295px)
		right 30%
	@media screen and (max-width 991px)
		top auto
		bottom: -20px
	@media screen and (max-width 560px)
		left 40px
.author-container
	background-color: #F9F7F7
	padding 50px 30px
	position relative
	margin 40px 0 0
	z-index 10
	box-shadow: 0px 0px 57.04px 4.96px rgba(0, 42, 149, 0.19);
	&-title
		font-family: GM
		font-size: 20px
		font-weight: 900
		text-transform uppercase
		margin-bottom: 30px
	@media screen and (max-width 991px)
		margin: 10px 0 0
	@media screen and (max-width 560px)
		padding 30px 20px
.general-img-author
	img
		top -90px
		right -110px
		z-index 10
		max-width 728px
	@media screen and (min-width 2295px)
		img
			right 50px
	@media screen and (max-width 1199px)
		img
			right -100px
			top 0
.author-text
	position absolute
	bottom -120px
	right -110px
	width 728px
	padding 5px
	background-color mBr
	text-align center
	z-index 20
	color #fff
	@media screen and (min-width 2295px)
		bottom: -37px;
		right: 50px;
	@media screen and (max-width 1199px)
		bottom -303px
		right: -100px
		text-align: left
		padding 5px 20px
	@media screen and (max-width 991px)
		bottom 0
		right 0
		text-align center
		width 100%
	@media screen and (max-width 385px)
		padding 5px
		font-size: 16px