@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/popup.css'

@import 'base/2-base-0'
@import 'base/2-base-1'

@import 'base/3-header'
@import '2/1-main'
@import '2/2-form'
@import '2/3-why'
@import '2/4-info'
@import '2/5-author'
@import '2/6-last'