section#author
	.container
		+gt('general-title-left general-title-author', 'Клуб инвесторов «Мой Капитал» <br>— это профессиональное сообщество, где знают всё о приумножении средств')
		.row
			.col-md-5.col-md-push-7
				.general-img.general-img-author
					+imgs('','img/images/yuriy.png','Юрий Медушенко')
					p.author-text Юрий Медушенко, соучредитель клуба инвесторов “Мой Капитал”
			.col-md-7.col-md-pull-5
				.rect.rect-author
				.author-container
					h4.author-container-title ПРЕИМУЩЕСТВА СОТРУДНИЧЕСТВА С НАМИ
					ul.general-list
						li - Мы выбираем только эффективные направления для инвестиций
						li - Тщательно выбираем проекты и партнёров
						li - С нами работают лучшие эксперты по направлениям
						li - Оптимальное соотношение доходности и рисков
						li - Надёжность вложений за счёт диверсификации портфеля
						li - Мы вкладываем в каждый проект собственные средства, поэтому заинтересованы в доходности напрямую