section.form-section
	.container
		.row
			.col-md-5
				h3.form-section-title УЧАСТВОВАТЬ В ПРОЕКТАХ!
			.col-md-7
				.row
					.col-md-6
						p.form-section-text с. Бестужевское
						+b('button-wrapper-center', '', 'https://forms.amocrm.ru/zmzzwl', 'Инвестировать', '_blank')
					.col-md-6
						p.form-section-text мкр-н "Белые акации"
						+b('button-wrapper-center', '', 'https://forms.amocrm.ru/zmzzzr', 'Инвестировать', '_blank')