#main
	padding 0 0 65px
	position relative
	background-color: #0A1D37
	background-image: url(../img/backs/main.png)
	background-repeat: no-repeat
	background-position: center
	background-size cover
	color #fff
	text-align center
	@media screen and (max-width 991px)
		padding 0 0 60px
	@media screen and (max-width 560px)
		padding 0 0 40px
	@media screen and (max-width 385px)
		padding 0 0 30px
.main
	&-pre
		font-size: 16px
		font-weight: bold
		text-transform uppercase
		margin-bottom: 20px
		span
			display inline-block
	&-title
		margin-left: 25px
		font-family: GM
		font-size: 39px
		font-weight: 900
		text-transform uppercase
		margin-bottom: 10px
		span
			display inline-block
			background-color: mBr
			padding 15px 25px
			line-height: 1
			margin-left: -25px
		@media screen and (max-width 1199px)
			font-size: 33px
			margin-left: 0
			span
				margin-left: 0
				padding 10px
		@media screen and (max-width 560px)
			font-size: 28px
		@media screen and (max-width 385px)
			font-size: 24px
			span
				padding 5px 10px
				line-height: 1
	&-subtitle
		font-size: 20px
		font-weight: bold
		margin 50px 0 15px
		text-transform uppercase
		@media screen and (max-width 991px)
			margin 30px 0
		@media screen and (max-width 385px)
			font-size: 18px
			margin 20px 0
	&-info
		&-text
			margin-top: 5px
			span
				display inline-block
				font-weight: bold
	&-aftertitle
		text-align center
		font-size: 30px
		font-family: GM
		font-weight: normal
		text-transform uppercase
		letter-spacing 10px
		margin-top: 40px
		@media screen and (max-width 767px)
			br
				display none
		@media screen and (max-width 560px)
			margin-top: 25px
			font-size: 25px
		@media screen and (max-width 385px)
			font-size: 20px