#plan
	padding 90px 0
.rect-plan
	z-index 0
	width 670px
	height 280px
	background-color: #0F1F2F
	left -50%
	top calc(50% - 140px)
.plan-list
	li
		list-style: none
		margin-bottom: 30px
		padding-left: 25px
		position relative
		&:before
			content: ''
			display block
			position absolute
			width 14px
			height: 14px
			border-radius: 50px
			background-color: mBr
			top 7px
			left 0
.plan-text
	position absolute
	font-family: GM
	font-size: 25px
	font-weight: 900
	text-transform uppercase
	bottom: 30px
	right -75%
	width 100%
	max-width 600px
.general-img-plan
	img
		right 0
		top -35px
		z-index 0