#decision
	padding 90px 0 50px
	.container
		position relative
	@media screen and (max-width 560px)
		padding 30px 0
.general-title-decision
	&:before
		content: ''
		display block
		position absolute
		background-color: #cc922f
		width 560px
		height 78px
		left -15px
		top -30px
		@media screen and (max-width 991px)
			left 0
			right 0
			margin 0 auto
		@media screen and (max-width 560px)
			width 380px
.decision-img
	position absolute
	right -200px
	bottom -50px
	@media screen and (max-width 991px)
		left 0
		right 0
		margin 0 auto
		width 100%
.general-title-decision
	width 100%
	max-width 770px
.general-wrapper-decision-2
	margin-top: 118px
	@media screen and (min-width 2295px)
		margin-top: 117px
	@media screen and (max-width 1199px)
		margin-top: 129px
	@media screen and (max-width 991px)
		margin-top: 0