#author
	padding 90px 0
	@media screen and (max-width 991px)
		padding 60px 0
	@media screen and (max-width 560px)
		padding 40px 0
	@media screen and (max-width 385px)
		padding 30px 0
.general-title-author
	margin-bottom: 15px
.author-subtitle
	text-align center
	font-size: 23px
	font-weight: bold
	margin-bottom: 45px
	@media screen and (max-width 560px)
		font-size: 20px
		margin-bottom: 30px
.rect-author
	background-color: #cc922f
	width 550px
	height 240px
	z-index 5
	top 210px
	right -20px
	@media screen and (max-width 991px)
		top auto
		bottom: -20px
	@media screen and (max-width 560px)
		left 40px
.author-container
	background-color: #19334d
	color #fff
	padding 50px 40px
	position relative
	margin 250px 0 0 50px
	z-index 10
	@media screen and (max-width 991px)
		margin: 10px 0 0
	@media screen and (max-width 560px)
		padding 30px 20px
.general-img-author
	img
		box-shadow: 0 0 24px rgba(#262729, .12)
		top 0
		right 110px
		z-index 1
		max-width 484px
	@media screen and (min-width 2295px)
		img
			right 150px
	@media screen and (max-width 1199px)
		img
			right 50px
.form-author
	width 100%
	max-width 660px
	margin 140px auto 0
	@media screen and (min-width 2295px)
		margin-top: 100px
	@media screen and (max-width 991px)
		margin-top: 30px
	@media screen and (max-width 560px)
		margin-top: 50px
.form-title-author
	margin-bottom: 30px
	color: #000
	@media screen and (max-width 991px)
		margin-bottom: 20px
.input-mail-author
	float: left
	color #777070;
	@media screen and (max-width 991px)
		float: none
		display block
		margin 0 auto 10px
@-webkit-keyframes autofill-2
	to
		font-size: 16px
		color:  #777070;
		background-color: transparent
.input-mail-author:-webkit-autofill-2
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
.button-form-author
	float: right
	@media screen and (max-width 991px)
		display block
		margin 0 auto
		float: none
		width 100%
		max-width 320px