#main
	padding 0 0 60px
	min-height 100vh
	text-align center
	background-image: url(../img/backs/main-thanks.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
	color #fff
	@media screen and (max-width 560px)
		padding 0 0 40px
.main
	&-title
		font-family: GM
		font-size: 35px
		font-weight: 900
		text-transform uppercase
		margin-bottom: 30px
		span
			display inline-block
			background-color: #cc922f
			color #fff
			padding 5px 10px
		small
			display block
			font-size: 22px
			font-weight: bold
			margin-top: 10px
		@media screen and (max-width 991px)
			font-size: 28px
			small
				font-size: 19px
		@media screen and (max-width 560px)
			font-size: 24px
			margin-bottom: 20px
			small
				font-size: 16px
		@media screen and (max-width 385px)
			font-size: 22px
			margin-bottom: 15px
	&-img
		display block
		width 100%
		max-width 643px
		margin 0 auto
		@media screen and (max-width 991px)
			max-width 380px
		@media screen and (max-width 560px)
			max-width 250px
	&-subtitle
		font-family: GM
		font-size: 25px
		font-weight: bold
		text-transform uppercase
		margin-top: 20px
		@media screen and (max-width 991px)
			font-size: 22px
		@media screen and (max-width 560px)
			font-size: 18px
	&-text
		font-family: GM
		font-size: 20px
		font-weight: 600
		margin 35px 0 30px
		text-transform uppercase
		@media screen and (max-width 991px)
			font-size: 18px
			margin 20px 0 15px
		@media screen and (max-width 560px)
			font-size: 16px
.button-thanks
	display block
	border-radius: 7px;
	box-shadow: inset 0px 1px 0px 0px rgba(3, 155, 229, 0.4), 0 2px 2px 0 #077fba, 0px 1px 25.23px 3.77px rgba(3, 155, 229, 0.79);
	width 100%
	max-width: 220px;
	margin 0 auto
	background-color: #039be5
	color #fff
	padding 20px 30px
	transition: all .3s ease
	&:focus
		color #fff
		text-decoration none
	&:hover
		color #fff
		text-decoration none
		background-color: #039be5 + 25%
		box-shadow: inset 0px 0px 0px 0px rgba(3, 155, 229, 0), 0 0 2px 0 #077fba, 0px 1px 5.23px 3.77px rgba(3, 155, 229, 0.9);
		transform: translateY(4px)