GM = 'Geometria', sans-serif;
OS = 'OpenSans', sans-serif;

@font-face
	font-family: 'Geometria';
	font-display: fallback;
	font-weight: 300;
	font-style: normal;
	src: local url('../fonts/GeometriaLight.eot');
	src: url('../fonts/GeometriaLight.eot');
	src: url('../fonts/GeometriaLight.eot') format('embedded-opentype'),url('../fonts/GeometriaLight.woff2') format('woff2'),url('../fonts/GeometriaLight.woff') format('woff'),url('../fonts/GeometriaLight.ttf') format('truetype'),url('../fonts/GeometriaLight.svg#GeometriaLight') format('svg');
@font-face
	font-family: 'Geometria';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local url('../fonts/Geometria.eot');
	src: url('../fonts/Geometria.eot');
	src: url('../fonts/Geometria.eot') format('embedded-opentype'),url('../fonts/Geometria.woff2') format('woff2'),url('../fonts/Geometria.woff') format('woff'),url('../fonts/Geometria.ttf') format('truetype'),url('../fonts/Geometria.svg#Geometria') format('svg');
@font-face
	font-family: 'Geometria';
	font-display: fallback;
	font-weight: 600;
	font-style: normal;
	src: local url('../fonts/GeometriaMedium.eot');
	src: url('../fonts/GeometriaMedium.eot');
	src: url('../fonts/GeometriaMedium.eot') format('embedded-opentype'),url('../fonts/GeometriaMedium.woff2') format('woff2'),url('../fonts/GeometriaMedium.woff') format('woff'),url('../fonts/GeometriaMedium.ttf') format('truetype'),url('../fonts/GeometriaMedium.svg#GeometriaMedium') format('svg');
@font-face
	font-family: 'Geometria';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: local url('../fonts/GeometriaBold.eot');
	src: url('../fonts/GeometriaBold.eot');
	src: url('../fonts/GeometriaBold.eot') format('embedded-opentype'),url('../fonts/GeometriaBold.woff2') format('woff2'),url('../fonts/GeometriaBold.woff') format('woff'),url('../fonts/GeometriaBold.ttf') format('truetype'),url('../fonts/GeometriaBold.svg#GeometriaBold') format('svg');
@font-face
	font-family: 'Geometria';
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
	src: local url('../fonts/GeometriaHeavy.eot');
	src: url('../fonts/GeometriaHeavy.eot');
	src: url('../fonts/GeometriaHeavy.eot') format('embedded-opentype'),url('../fonts/GeometriaHeavy.woff2') format('woff2'),url('../fonts/GeometriaHeavy.woff') format('woff'),url('../fonts/GeometriaHeavy.ttf') format('truetype'),url('../fonts/GeometriaHeavy.svg#GeometriaHeavy') format('svg');
@font-face
	font-family: 'OpenSans';
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
	src: local url('../fonts/OpenSans.eot');
	src: url('../fonts/OpenSans.eot');
	src: url('../fonts/OpenSans.eot') format('embedded-opentype'),url('../fonts/OpenSans.woff2') format('woff2'),url('../fonts/OpenSans.woff') format('woff'),url('../fonts/OpenSans.ttf') format('truetype'),url('../fonts/OpenSans.svg#OpenSans') format('svg');
@font-face
	font-family: 'OpenSans';
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
	src: local url('../fonts/OpenSansBold.eot');
	src: url('../fonts/OpenSansBold.eot');
	src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),url('../fonts/OpenSansBold.woff2') format('woff2'),url('../fonts/OpenSansBold.woff') format('woff'),url('../fonts/OpenSansBold.ttf') format('truetype'),url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');