section#main
	include ../base/1-header
	.container
		.row
			.col-md-6
				p.main-pre Приглашаем Вас на онлайн-встречу
				h1.main-title Инвестиции 
					br
					span в недвижимость Сочи
				h2.main-subtitle Цены за 1 кв.м. растут, как на дрожжах!
				.main-info
					p.main-info-text Дата и время проведения: 
						span 20 мая, в 19:00(Мск)
					p.main-info-text Ведущий: 
						span Юрий Медушенко
			.col-md-6
				.video-wrapper.video-wrapper-main
					iframe(src!="https://www.youtube.com/embed/?autoplay=1&mute=1&modestbranding=1" allowfullscreen)
		h3.main-aftertitle Успейте заработать на этом!