section#main
	include ../base/1-header
	.container
		.row
			.col-md-6
				p.main-pre Приглашаем  Вас на онлайн-встречу
				h1.main-title «IPO – мощный инструмент 
					br
					| для 
					span приумножения капитала»
				h2.main-subtitle Узнайте, как обрести финансовую свободу 
					br
					| и не зависеть от зарплаты, начальника и кризиса
				.main-info
					p.main-info-text Дата и время проведения: 
						span 13 мая, в 19:00(Мск)
					p.main-info-text Ведущий: 
						span Юрий Медушенко
			.col-md-6
				.video-wrapper.video-wrapper-main
					iframe(src!="https://www.youtube.com/embed/J0HeJYgnhaU?autoplay=1&mute=1&modestbranding=1" allowfullscreen)