section#main
	include ../base/1-header
	.container
		p.main-pre Приглашаем Вас 
			span на онлайн-встречу
		h1.main-title Инвестиции 
			br
			span в недвижимость Сочи
		h2.main-subtitle На рынке недвижимости Сочи ажиотаж: 
			br
			| цены растут, как на дрожжах!
		.main-info
			p.main-info-text Дата и время проведения: 
				span 17 июня, в 19:00 (мск)
			p.main-info-text Ведущий: 
				span Юрий Медушенко
		h3.main-aftertitle Выиграйте вместе с нами 
			br
			| на дефиците предложений на рынке!