section#about
	.container
		h3.general-title.general-title-white.general-title-about IPO – ТРЕНД 2021 года ДЛЯ ТЕХ, КТО ЗНАЕТ, 
			br
			| КАК РАСПОРЯЖАТЬСЯ ДЕНЬГАМИ
		.row
			.col-md-6
				+imgs('about-img','img/images/logo-about.png','Логотип')
			.col-md-6
				.general-wrapper.general-wrapper-about
					h5.general-wrapper-title Преимущества инвестиций в IPO
					ul.about-wrapper-list
						li Это альтернатива банковским вкладам, которые 
							br
							| не покрывают даже уровень инфляции
						li Доходность в 2-3 раза выше, чем у других инвестиционных инструментов
						li Вложив деньги один раз, вам не придётся постоянно думать, что с ними делать дальше
		.row
			.col-md-5.col-md-push-7
				.general-img.general-img-about
					+imgs('','img/images/about.jpg','Картинка блока')
			.col-md-7.col-md-pull-5
				.rect.rect-about
				.general-wrapper
					h5.general-wrapper-title На онлайн-встрече Вы узнаете:
					ul.general-list
						li - Что такое рынок IPO и чем он отличается от биржи акций;
						li - Преимущества рынка IPO;
						li - Почему невыгодно инвестировать в IPO самостоятельно;
						li - Сколько зарабатывают на IPO в месяц наши инвесторы;
						li - Какую максимальную  и минимальную доходность можно получить на IPO;
						li - Существуют ли риски потери капитала и как мы их обходим;
						li - Наш опыт участия на рынке IPO (кейсы и реальный опыт)