mixin wi(n,p)
	.col-md-4
		.why-item(class="why-item-"+n)
			.why-item-icon(class="why-item-icon-"+n)
			p.why-item-text!=p

section#why
	.container
		h3.general-title.general-title-why Мыслите шире – зарабатывайте больше!
			small Почему инвестировать в Сочи нужно именно сейчас
		.row
			+wi('2','Сочи – регион №1 по темпам роста цен на землю <br>и объекты недвижимости')
			+wi('1','Один из трендов рынка Сочи – спрос на загородную недвижимость. Стоимость участков на популярных направлениях выросла <br>в 3-5 раз')
			+wi('3','С 1 июля 2021 года планируют ввести ограничение <br>на строительство многоквартирных домов. Будет разрешено ИЖС домов, площадью не более 300 кв. м. и высотой не более 12 м.')
		.row
			+wi('4','Рост цен начался осенью 2020 года, когда россияне стали выбирать город <br>в качестве подходящего места для самоизоляции. Только С НАЧАЛА 2021 ГОДА СПРОС НА ЖИЛУЮ НЕДВИЖИМОСТЬ ВЫРОС НА 30%')
			+wi('5','137 % – средний показатель роста цены за 1 кв.м. в одном из ЖК ИНТЦ “Сириус” за 1,5 года – с 111,4 до 263 тыс. руб.')
			+wi('6','Эксперты прогнозируют <br>в 2021 году рост цен <br>на уровне 2530%')
		h4.why-aftertitle Узнайте подробности у нашего эксперта во время вебинара!
		+b('button-wrapper-center', 'button-up', href, 'ЗАРЕГИСТРИРОВАТЬСЯ НА ОНЛАЙН-ВСТРЕЧУ')