section#modal-line
	.container
		.row
			.col-md-8
				h3.modal-line-title IPO входит в ТОП-8 самых надёжных способов увеличения капитала
			.col-md-4
				+b('button-wrapper-modal-line', 'button-up', href, 'ХОЧУ ПОСЕТИТЬ ВСТРЕЧУ')