section#plan
	.container
		.rect.rect-plan
		.content
			+gt('general-title-left','Программа онлайн-встречи')
			.row
				.col-md-7
					.general-wrapper
						ul.plan-list
							li Почему Сочи — перспективный регион для инвестиций
							li ИЖС: преимущества и доходность
							li Космические цены: 400 тыс.руб. за 1 кв.м. – это не предел
							li Презентация нового инвестпроекта по доходной недвижимости 
								br
								| в Сочи
							li Наша инвестиционная стратегия с доходностью до 153% в год
							li Сколько можно заработать на 1 кв.м. в Сочи
						+b('', 'button-up', href, 'ХОЧУ ПОСЕТИТЬ ОНЛАЙН-ВСТРЕЧУ!')
						p.plan-text Покупка жилья в Сочи – не мечта, 
							br
							| а прибыльный бизнес, открывающий новые горизонты качества жизни!
				.col-md-5
					.general-img.general-img-plan
						+imgs('','img/images/laptop.png','Лаптоп')