section#plan
	.container
		.rect.rect-plan
		.content
			+gt('','Программа онлайн-встречи')
			.row
				.col-md-7
					.general-wrapper
						ul.plan-list
							li Почему Сочи называют надеждой России?
							li ИНТЦ “Сириус” – объект 2021 года
							li Космические цены: 400 тыс.руб. за 1 кв.м. – это не предел
							li Доходный объект в Красной Поляне – наш новый проект
							li Купить – реализовать – заработать: наша инвестиционная стратегия
							li Короткий путь от инвестора-новичка до миллионера: сколько можно заработать на 1 кв.м. в Сочи
						+b('', '', href, 'ХОЧУ ПОСЕТИТЬ ОНЛАЙН-ВСТРЕЧУ!')
						p.plan-text Покупка жилья в Сочи – не мечта, а прибыльный бизнес, открывающий новые горизонты качества жизни!
				.col-md-5
					.general-img.general-img-plan
						+imgs('','img/images/laptop.png','Лаптоп')