section#author
	.container
		h3.general-title.general-title-left.general-title-author Ведущий онлайн-встречи - Юрий Медушенко
		.row
			.col-md-5.col-md-push-7
				.general-img.general-img-author
					+imgs('','img/images/yuriy.png','Юрий Медушенко')
			.col-md-7.col-md-pull-5
				.rect.rect-author
				.author-container
					ul.general-list
						li - Соучредитель Клуба Инвесторов "Мой капитал"
						li - Инвестор с успешным опытом реализации инвестиционных проектов на сумму более 1,8 млрд. рублей
						li - Эксперт №1 в сфере доходных домов России
						li - Серийный предприниматель