section#results
	.container
		+gt('general-title-results','Наши результаты на рынке IPO')
		h4.results-subtitle В 2020 году мы совершили 50 положительных сделок
			br
			| с доходностью более 100%
		h5.results-subtitle-2 Наша лучшая сделка
		.row
			.col-md-6
				.results-container
					+imgs('results-container-img','img/images/results-1.png','Beyond Meat')
					h6.results-container-title Компания Beyond Meat 
						small (производство искусственного мяса)
					ul.general-list
						li - Покупка 1 января 2019 года – $25 за акцию.
						li - 17 июня 2019 года – рост более 500% до $167.
						li Рост цены на эти акции продолжается до сих пор по 10% в день
			.col-md-6
				.rect.rect-results
				+imgs('results-img','img/images/results-2.jpg','График')