mixin sl(cl,sLink)
	a.soc-link(class!='soc-link-'+cl href!=sLink target="_blank")
section#last
	.container
		.footer
			h5.footer-title ПОДПИСЫВАЙТЕСЬ НА НОВОСТИ, ЧТОБЫ ВСЕГДА БЫТЬ В КУРСЕ САМЫХ ЛУЧШИХ ПРЕДЛОЖЕНИЙ 
				br
				| ПО ИНВЕСТИРОВАНИЮ!
			.soc-links
				|
				|
				+sl('vk','https://vk.com/mycapital_ru')
				|
				|
				+sl('yt','https://www.youtube.com/channel/UCeQu4s1IZ6c-w-K8q15wF1w')
				|
				|
				+sl('insta','https://www.instagram.com/mycapital.ru/')
				|
				|
				+sl('tg','https://mycapital.autoweboffice.ru/index.php?r=form/telegram&id_bot=4')
				|
				|
				+sl('fb','https://facebook.com/MyCapitalRu/')
			h6.footer-subtitle Узнайте, как зарабатывать до 30% в долларах ЗА год 
				br
				| и не переживать о будущем!
			p.footer-text Контакты: ООО «Зона Комфорта», ИНН 5029196740, ОГРН 1155029003293
			p.footer-text Телефон: 
				a(href="tel:+74950230110" target='_blank') +7 (495) 023-01-10
			p.footer-text E-mail: 
				a(href="mailto:info@mycapital.fund" target='_blank') info@mycapital.fund
			p.footer-text 
				a(href="politics.pdf" target='_blank') Политика конфиденциальности